<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Logi sisse</button>
    <table>
        <tr v-for="message in allMessages">
            <td>{{ message.message_text}}</td>
        </tr>
    </table><br>
    <form>
        <input type="text" v-model="postMessage.author_id" placeholder="autor"><br>
        <input type="text" v-model="postMessage.receiver_id" placeholder="saaja"><br>
        <input type="text" v-model="postMessage.message_text" placeholder="sõnum"><br>
    </form>
    <button @click="post_message">Postita</button><br><br>

    <form>
        <input type="text" v-model="updateMessage.message_id" placeholder="id"><br>
        <input type="text" v-model="updateMessage.author_id" placeholder="autor"><br>
        <input type="text" v-model="updateMessage.receiver_id" placeholder="saaja"><br>
        <input type="text" v-model="updateMessage.message_text" placeholder="sõnum"><br>
    </form>
    <button @click="update_message">Muuda</button><br><br>

    <form>
        <input type="text" v-model="deleteMessage.message_id" placeholder="id"><br>
    </form>
    <button @click="delete_message">Kustuta</button>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Logi sisse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" v-model="loginModal.username" placeholder="username"><br>
                    <input type="password" v-model="loginModal.password" placeholder="password" ><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tagasi</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="login">Logi sisse</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="vue.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>